 
	<table class="table">
		<thead>
			<tr>
				 
				<th>
					@Model.PersonPhoneNumber.PhoneNumber
				</th>
				<th>
					@Model.PersonPhoneNumber.PhoneNumberExt
				</th>
			 
			</tr>
		</thead>
 
	</table>
