
<table class="table">
	<thead>
		<tr>

			<th>
				@Model.PersonAddress.AddressLine1
			</th>
			<th>
				@Model.PersonAddress.AddressLine2
			</th>
			<th>
				@Model.PersonAddress.City
			</th>
			<th>
				@Model.PersonAddress.ZipCode

			</th>
		</tr>
	</thead>

</table>
